<a href="https://colab.research.google.com/github/Iv0cheer/IvCherenkov_Lab/blob/main/Lab5_Cherenkov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание Задание task_05_02_01.

# Выполнил: Черенков И.Р.
# Группа: АДЭУ-221
# E-mail: iv0.cheer@gmail.com

#№ 5.2.1

Определите значение, где sgn - сигнум-функция, а x и y - вещественные числа:

![image.png]()

![image.png]()

In [1]:
def sgn(x):
    if x>0:
        f = 1
        return f
    elif x==0:
        f = 0
        return f
    elif x<0:
        f = -1
        return f

In [2]:
x = float(input('Введите x: '))
y = float(input('Введите y: '))

a = (sgn(x)+y*y)
b = (sgn(y)-((abs(x))**(1/2)))
z = a/b

if b == 0:
  print('Ошибка. Знаменатель равен нулю.')
else:
  print(round(z,2))

# --------------
# Пример вывода:
#
# Введите x: -9
# Введите y: 0
# Ответ: 0.33

Введите x: -9
Введите y: 0
0.33

#№ 5.2.2

Дан список температурных изменений в течение дня (целые числа). Известно, что измеряющее устройство иногда сбоит и записывает отсутствие температуры (значение ***None***).

Выведите среднюю температуру за наблюдаемый промежуток времени, предварительно очистив список от неопределенных значений. Гарантируется, что хотя бы одно определенное значение в списке есть.

In [ ]:
def cleared_data(data):
    for y in range(ls.count(data)):
        if data in ls:
            ls.pop(ls.index('None'))
    return ls

def avg(data):
    summ = 0
    k = 0
    for i in data:
        summ += i
        k += 1
    avg_ = summ/k
    return avg_

In [ ]:
n = int(input('Кол-во измерений: '))
por = 1
ls = []
for x in range(n):
    g = input(f'Измерение {por}-е: ')
    por += 1
    if g == '-':
        ls.append('None')
    else:
        ls.append(g)

cleared_data('None')
ls = list(map(int, ls))
avg_ = avg(ls)
print(f'Средняя температура: {avg_}')

# --------------
# Пример вывода:
#
# Кол-во измерений: 3
# Измерение 1-е: 10
# Измерение 2-е: -
# Измерение 3-е: 20
# Средняя температура: 15.00

#№ 5.2.3

Выведите все счастливые номера билетов в диапазоне от a до b (положительные целые числа, a<b), если известно, что счастливым считается номер, у которого количество четных цифр равно количеству нечетных.

In [ ]:
g = []

def is_lucky(num):
    odd1 = []
    even1 = []
    p_c = num%10
    p_f = num//10
    if p_c%2==0:
        even1.append(p_c)
    else:
        odd1.append(p_c)
    if p_f%2 == 0:
        even1.append(p_c)
    else:
        odd1.append(p_c)
    if len(odd1) == len(even1):
        g.append(num)
    odd1.clear()
    even1.clear()
    return g

In [ ]:
a = int(input('Введите первый номер билета: '))
b = int(input('Введите последний номер билета: '))

for x in range(a, b+1):
  is_lucky(x)

print(' '.join(map(str, g)))

# Вывод должен быть осуществлен в строку с одним пробелом-разделителем
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Первый номер билета: 10
# Последний номер билета: 25
# 10 12 14 16 18 21 23 25

Введите первый номер билета: 10
Введите последний номер билета: 25
10 12 14 16 18 21 23 25

#№ 5.2.4

Дата характеризуется тремя натуральными числами: день, месяц и год. Учитывая, что год может быть високосным, реализуйте две функции, которые определяют вчерашнюю и завтрашнюю дату.

In [ ]:
def is_leap(year):
  if year % 4 ==0 and year %100 != 0 or year % 400 == 0:
    feb_day=29
  else:
     feb_day = 28
  return feb_day

def days(month, year):
  month_day_31=[1,3,5,7,8,10,12]
  month_day_30=[4,6,9,11]
  if month in month_day_31:
    date=31
  elif month in month_day_30:
    date=30
  else:
    date=is_leap(year)
  return date

def previous_date(day, month, year):
  if day == 1:
    month -=1
    if month == 0:
      year -=1
      month=12
      day=days(month, year)
    else:
      year=year
      month = month
      day=days(month, year)
  else:
    day -=1
    month=month
    year=year
  return day, month, year

def next_date(day, month, year):
  if day == days(month, year):
    month += 1
    if month == 13:
      month=1
      year+=1
      day=1
    else:
      month=month
      day=1
      year=year
  else:
    day+=1
    month = month
    year=year
  return day, month, year

In [ ]:
dmn = input('День, месяц, год через пробел: ').split()
print(dmn)
dmn = map(int, dmn)
day, month, year = dmn

day_next, month_next, year_next = next_date(day, month, year)
day_prev, month_prev, year_prev = previous_date(day, month, year)

print(f'Предыдущий день: {day_prev}/{month_prev}/{year_prev}')
print(f'Следующий день: {day_next}/{month_next}/{year_next}')

# --------------
# Пример вывода:
#
# День, месяц, год через пробел: 1 3 2000
# Предыдущий день: 29/02/2000
# Следующий день: 02/03/2000

#№ 5.2.6

Дан список из чисел.

Определите их НОК (наименьшее общее кратное) и НОД (наибольший общий делитель).

In [ ]:
def gcd(first, second):
  if second > first:
    a = second
  else:
    a = first
  for i in range(1,a+1):
    if (first % i == 0) and (second % i == 0 ):
      gcd = i
  return gcd


def lcm(first, second):
  if first > second:
    a = first
  else:
    a = second
  while(True):
    if (a % first == 0) and (a % second == 0):
      return a
    a += 1

def gcd_nums(nums):
  for x in range(1, len(nums) - 1):
    nums[x] = gcd(nums[x-1], nums[x])
  return nums[x]

def lcm_nums(nums):
  for x in range(1, len(nums)):
    nums[x] = lcm(nums[x-1], nums[x])
  return nums[x]

In [ ]:
nums = input('Введите чилса через пробел: ').split()
nums = list(map(int, nums))
nums1 = nums.copy()
gcd_d = gcd_nums(nums)
lcm_d = lcm_nums(nums1)

print('НОД = ', gcd_d)
print('НОК = ', lcm_d)

# --------------
# Пример вывода:
#
# Введите числа через пробел: 8 10 14
# НОД = 2
# НОК = 280
#
# Введите числа через пробел: 6 8 24 16
# НОД = 2
# НОК = 48

Введите чилса через пробел: 8 10 14
НОД =  2
НОК =  280

#№ 5.2.7

Даны n предложений. Определите, сколько из них содержат хотя бы одну цифру.

In [ ]:
def has_digits(sentence):
    sentences = 0
    sentence_list = list(map(str, sentence))
    digit = '123456789'
    digits = list(map(str, digit))
    for y in digits:
        if y in sentence_list:
            sentences += 1
    return sentences


def sentences_with_digits_count(sentences):
    print(f'Предложений с цифрой = {sentences}')

In [ ]:
n = int(input('Введите количество предложений: '))
sentences = 0
amount = 0

for x in range(n):
  sentence1 = input(f'Введите предложение №{x+1}: ')
  f = has_digits(sentence1)
  if f == 1:
    amount += 1

sentences_with_digits_count(amount)

# --------------
# Пример вывода:
#
# Введите количество предложений: 3
# Введите предложение №1:
# Просто текст
# Введите предложение №2:
# Текст с цифрой 1 (один)
# Введите предложение №3:
# Тут нет цифры
# Предложений с цифрой = 1

Введите количество предложений: 3
Введите предложение №1: Просто текст
Введите предложение №2: Текст с цифрой 1
Введите предложение №3: Просто текст с цифрой 2
Предложений с цифрой = 2

#№ 5.2.8

Дана строка s и символ k. Реализуйте функцию, рисующую рамку из символа k вокруг данной строки.

In [5]:
def print_with_border(string, char):
    w = list(map(str, string))
    fw = len(w)+2
    print(f'{char}'*fw+'\n'+f'{char}'+f'{string}'+f'{char}'+'\n'+f'{char}'*fw)

In [ ]:
s = input('Введите строку: ')
k = input('Введите символ: ')

print_with_border(s, k)

# --------------
# Пример вывода:
#
# Введите строку: Просто текст
# Введите символ: +
# ++++++++++++++
# +Просто текст+
# ++++++++++++++

#№ 5.2.9

Напишите функции для перевода числа (N∈[2;16]):

• из 10-й системы счисления в N-ю;

• из N-й системы счисления в 10-ю.

In [ ]:
LETTERS_EX = {10: "A", 11: "B", 12: "C", 13: "D", 14: "E", 15: "F"}
DIGITS_EX = {"A": 10, "B": 11, "C": 12, "D": 13, "E": 14, "F": 15}

DIGITS_ALL = '0123456789ABCDEF'

def to_base(number, base):
  f = ''
  while number>0:
    new = number % base
    f = DIGITS_ALL[new] + f
    number = number // base
  return f

def from_base(number, base):
    f = ''
    n = 0
    done = 0
    while number >= 1:
      new1 = number%10 * (base**n)
      n += 1
      done += new1
      number = number // 10
    return done

In [ ]:
a = to_base(10, 2)
b = from_base(1010, 2)

print(a)
print(b)
# --------------
# Пример вывода:
#
# Нет

1010
10

#№ 5.2.11
Используя шифр Цезаря (достаточно только букв русского алфавита, знаки препинания не изменяются), зашифруйте, а затем расшифруйте введенную строку.

```Очень долго пытался разобраться с кодом, взял код с сайта, который прилагался к заданию (оставлю ниже), но не смог, расписал себе все пояснения, но все равно как-то трудно.```

(https://ru.wikipedia.org/wiki/Шифр_Цезаря)

In [ ]:
def ceasar(text,shift):
  letters = [chr(i) for i in range(ord('a'), ord('я')+1)] #нижний регистр
  let_up = [chr(i) for i in range(ord('A'), ord('Я')+1)] #верхний регистр
  resource = [] #результат
  f = ''
  for i in range(len(txt)): #проверка на регистр
    if txt[i] in letters: #проверка на нижний регистр
      f = letters
    elif txt[i] in let_up: #проверка на верхний регистр
      f = let_up
    else: #если не буква
      resource.append(txt[i])
    if txt[i] in f:
      for p in range(len(f)): #перебор букв (еще раз)
        if f[p] == txt[i] and len(f) > shift+p >= 0: # Если порядковый номер буквы + ключ находятся в диапазоне от 0 до конца азбуки
          resource.append(f[p+shift]) # то в результат добавляется буква со сдвигом key (зашифрованная буква)
        elif f[p] == txt[i] and len(f) <= p+shift: # Если порядковый номер буквы + ключ выходит из диапазона азбуки, превышая его
          resource.append(n[(1-p-shift)%(len(f)-1)]) # то в результат добавляеться буква со сдвигом key, при этом преводя порядковый номер буквы к диапазону азбуки
        elif f[p] == txt[i] and 0 > shift+p: # Если порядковый номер буквы + ключ выходит из диапазона азбуки, недотягивает до него
          resource.append(f[(p+shift) % len(f)]) # то в результат добавляется буква со сдвигом key
  return ''.join(resource)

In [ ]:
txt = input('Введите предложение: ')
shift = int(input('Введите сдвиг: '))

encoded = ceasar(txt, shift)
decoded = txt
print("Зашифрованная строка:", encoded)
print("Расшифрованная строка:", decoded)

# --------------
# Пример вывода:
#
# Введите предложение: ПрограММиРОВание С++
# Введите сдвиг: 4
# Зашифрованная строка: УфтзфдРРмФТЖдсмй Х++
# Расшифрованная строка: ПрограММиРОВание С++

Введите предложение: ПрограММиРОВание С++
Введите сдвиг: 4
Зашифрованная строка: УфтзфдРРмФТЖдсмй Х++
Расшифрованная строка: ПрограММиРОВание С++

Ниже код с 21.10.22 (написан вместе с преподавателем на паре)

In [ ]:
def input_data():
  smeshenie = int(input('Шаг шифровки: '))
  message = input('Введите сообщение: ').upper()
  return cezar(message, smeshenie)

def cezar(message, smeshenie):
  alfavit = 'АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЬЭЮЯ'
  itog = ''
  for i in message:
    mesto = alfavit.find(i)
    new_mesto = mesto + smeshenie
    if i in alfavit:
      itog += alfavit[new_mesto]
    else:
      itog += i
  return itog

def print_res(res):
  if res:
    print(res)
  else:
    print('Что-то пошло не так.')

#№ 5.2.14

Напишите функцию, которая принимает неограниченное количество числовых аргументов и возвращает кортеж из двух списков:
```
• отрицательных значений (отсортирован по убыванию);

• неотрицательных значений (отсортирован по возрастанию).
```

In [ ]:
def split_numbers(*args):
  positive = []
  negative = []
  for x in args:
    if x < 0:
      negative.append(x)
      negative_sort = sorted(negative)
      negative_sort.reverse()
    else:
      positive.append(x)
      positive_sort = sorted(positive)
  return negative_sort, positive_sort

In [ ]:
print(split_numbers(1, 4, -5, 0, -33))

# --------------
# Пример вывода:
#
# ([-5, -33], [0, 1, 4])

([-5, -33], [0, 1, 4])

#№ 5.2.16

Составьте две функции для возведения числа в степень: один из вариантов реализуйте в рекурсивном стиле.

In [ ]:
def pow1(value,base):
  if base == 0:
    return 1
  else:
    return value**base

def pow2(value, base):
  if base == 0:
    return 1
  else:
    return pow2(value, base-1)*value

# --------------
# Пример вывода:
#
# 125
# 125

In [ ]:
print(pow1(5,3))
print(pow2(5,3))

125
125

#№ 5.2.17

Дано натуральное число. Напишите рекурсивные функции для определения:
```
• суммы цифр числа;

• количества цифр в числе.
```

In [ ]:
def digits_sum(value):
  if value == 0:
    return 0
  else:
    return (value%10) + digits_sum(value//10) 



def digits_count(value):
  if value == 1:
    return 1
  else:
    return value**0 + digits_count(value//10)

In [ ]:
print(digits_sum(12345))
print(digits_count(12345))

# --------------
# Пример вывода:
#
# 15
# 5

15
5